<!-- home.component.html -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar custom-navbar fixed-top">
    <div class="container-fluid">
      <div class="title">
        <p class="title-text">Cocktail Debacle</p>
      </div>
      <a class="home" href="#daily" (click)="scrollTo('daily',$event)">Home</a>
      <a class="sc"   href="#cocktailResearch" (click)="scrollTo('cocktailResearch',$event)">
        Search for a cocktail!
      </a>
      <a class="navbar-brand ms-auto login-link" 
         href="javascript:void(0)" 
         (click)="onLoginClick($event)">
        <p class="login-text">{{ loggedIn ? name : 'Login' }}</p>
      </a>
    </div>
  </nav>

  <!-- MENU che appare sotto la navbar quando clicchi -->
  <div *ngIf="onLogin" class="login-menu">
    <ng-container *ngIf="!loggedIn">
      <app-create-user *ngIf="!isLoginMode"></app-create-user>
      <app-login *ngIf="isLoginMode"></app-login>
    </ng-container>

    <ng-container *ngIf="loggedIn" class="cazzo">
      <p class="text-light mb-2">Bentornato, {{ name }}!</p>
      <a class="text-light d-block mb-2" [routerLink]="'/favorites'" (click)="onLogin = false">
        <i class="bi bi-heart-fill me-2"></i> Preferiti
      </a>
      <a class="text-light d-block mb-2" [routerLink]="'/personal-area'" (click)="onLogin = false">
        <i class="bi bi-person-fill me-2"></i> Area Personale
      </a>
      <button class="btn btn-outline-danger logout-button" (click)="logout()">
        <i class="bi bi-box-arrow-right"></i> Logout
      </button>
    </ng-container>
  </div>

  <!-- Bottone per switch login/registrazione -->
  <div class="botton-login-menu" *ngIf="onLogin && !loggedIn">
    <button class="custom-auth-btn btn btn-outline-light mt-2"
      (click)="isLoginMode ? switchToCreateUser() : switchToLogin()">
      {{ isLoginMode ? 'DHN mi devo registrare!' : 'Oh botta ho gia un acccount!' }}
    </button>
  </div>

  <div id="daily" class="carousel-wrapper">
    <app-daily-cocktail></app-daily-cocktail>
  </div>

  <div *ngIf="welcomeMessage" class="announcement-banner">
    <p>{{ welcomeMessage }}</p>
  </div>

  <!-- Componente di ricerca cocktail -->
  <div id="sc" class="cock" *ngIf="!isFavoritesPage">
    <app-cocktail-research></app-cocktail-research>
  </div>

  <!-- Componente preferiti -->
  <div *ngIf="isFavoritesPage">
    <app-favorites></app-favorites>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>


  <div *ngIf="loggedIn">
    <button class="chat-button" title="Open chat" (click)="goToChat()">
      <i class="fas fa-comment-dots"></i>
      <span>OPEN CHAT</span>
    </button>
  </div>
  

  
  <ng-container *ngIf="admin" class="admin">
    <button [routerLink]="['/admin']">admin page</button>
  </ng-container>
</body>
