
<div class="titolo-daily" id="daily">
  <h1>Daily cocktails!</h1>
</div>
<div class="daily-carousel-container" #carouselContainer *ngIf="dailyCocktail.length > 0">
  <div
    class="daily-carousel-track"
    [ngStyle]="{ transform: 'translateX(' + getTransformValue() + 'px)' }"
  >
    <div
      *ngFor="let cocktail of dailyCocktail; let i = index"
      [class]="getCardClass(i)">
      <img [src]="cocktail.strDrinkThumb" [alt]="cocktail.strDrink" />
      <h4>{{ cocktail.strDrink }}</h4>
    </div>
  </div>

  <div class="daily-controls">
    <button class="daily-btn" (click)="prevSlide()" [disabled]="activeIndex <= 0">&#10094;</button>
  <button class="daily-btn" (click)="nextSlide()" [disabled]="activeIndex >= dailyCocktail.length - 1">&#10095;</button>
  </div>
</div>
