<button (click)="toggleMinimize()" class="btn btn-sm btn-outline-light mb-2">
  {{ isMinimized ? 'Mostra Cocktail del Giorno' : 'Minimizza Cocktail del Giorno' }}
</button>

<div *ngIf="!isMinimized; else loading">
  <h2>{{ dailyCocktail[currentIndex]?.strDrink }}</h2>
  <img [src]="dailyCocktail[currentIndex]?.strDrinkThumb"
       alt="{{ dailyCocktail[currentIndex]?.strDrink }}"
       width="300" />
  <h3>Category: {{ dailyCocktail[currentIndex]?.strCategory }}</h3>
  <h4>Alcohol: {{ dailyCocktail[currentIndex]?.strAlcoholic }}</h4>
  <p><strong>Glass:</strong> {{ dailyCocktail[currentIndex]?.strGlass }}</p>
</div>

<ng-template #loading>
  <p>Cocktail del giorno...</p>
</ng-template>