
<div class="container">
	<div class="profile">
		<div class="profile-header">
			<div class="profile-text-container">
				<h1 class="profile-title">{{ userData.username }}</h1>
			</div>
			<p class="profile-mail">{{ userData.mail }}</p>
		</div>
		
		<div class="menu">
			<a (click)="router.navigate(['/home'])" class="menu-link"><i class="fa-solid
				fa-circle-user menu-icon"></i>Back to Home</a>
				<a href="#" class="menu-link"><i class="fa-solid
					fa-right-from-bracket menu-icon"></i>Logout</a>
					<a href="javascript:void(0)" class="menu-link-cookies"
					[ngClass]="{'terms-accepted' : termsAccepted, 'terms-rejected': !termsAccepted}"
					(click)="toggleTermsAccepted()">
					<i class="fa-solid fa-circle-user menu-icon"></i>Accepted Terms</a>
				</div>   
			</div>
			
	<form class="account">
		<div class="account-header">
			<h1 class="account-title">Account Info</h1>
		</div>

		<div class="account-edit">
			<div class="input-container">
				<label>Username</label>
				<input type="text" placeholder="Username" [(ngModel)]="userData.username" name="username" [disabled]="!isEditing">
			</div>
			<div class="input-container">
				<label>Password</label>
				<input type="text" placeholder="******">
			</div>
		</div>

		<div class="account-edit">
			<div class="input-container">
				<label>Birthdate</label>
				<input type="date" [(ngModel)]="userData.birthdate" name="birthdate" [disabled]="!isEditing">
			</div>
		</div>
				
		<div class="account-edit">
			<div class="input-container">
				<label>Mail</label>
				<input type="mail" placeholder="mettolamiamail.com" [(ngModel)]="userData.mail" disabled>
			</div>
		</div>
	</form>
</div>
<link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
