<div *ngIf="cocktail?.strDrink">
  <div class="t">
    <button (click)="toggleLanguageMenu()" class="language-button">
      🌐 Change Language
    </button>

    <div *ngIf="showLanguages" class="language-menu show">
      <button (click)="setLanguage('strInstructions')" title="English">
        <img [src]="getFlag('strInstructions')" alt="English" />
      </button>
      <button (click)="setLanguage('strInstructionsIT')" title="Italiano">
        <img [src]="getFlag('strInstructionsIT')" alt="Italiano" />
      </button>
      <button (click)="setLanguage('strInstructionsES')" title="Español">
        <img [src]="getFlag('strInstructionsES')" alt="Español" />
      </button>
      <button (click)="setLanguage('strInstructionsDE')" title="Deutsch">
        <img [src]="getFlag('strInstructionsDE')" alt="Deutsch" />
      </button>
      <button (click)="setLanguage('strInstructionsFR')" title="Français">
        <img [src]="getFlag('strInstructionsFR')" alt="Français" />
      </button>
      <button (click)="setLanguage('strInstructionsZH_HANS')" title="简体中文">
        <img [src]="getFlag('strInstructionsZH_HANS')" alt="中文简体" />
      </button>
      <button (click)="setLanguage('strInstructionsZH_HANT')" title="繁體中文">
        <img [src]="getFlag('strInstructionsZH_HANT')" alt="中文繁體" />
      </button>
    </div>
  </div>

  <div class="cocktailfull">

    <div class="cocktail-info">
      <div class="main">
        <h1>{{ cocktail.strDrink }}</h1>
        <img [src]="cocktail.strDrinkThumb" class="foto" [alt]="cocktail.strDrink"/>
      </div>

      <div class="ingredients">
        <div *ngIf="selectedCocktail">
          <h2>Ingredients:</h2>
          <ul>
              <li *ngFor="let item of ingredientDetails">
                <img [src]="getIngredientImageUrl(item.ingredient)"
                [alt]="item.ingredient" />
              {{ item.ingredient }} {{ item.measure }}
              </li>
            </ul>
          
          <div *ngIf=true class="video">
            <h3>How to make it:</h3>
            <a [href]="selectedCocktail.strVideo" target="_blank">Click and Watch!</a>
          </div>
        </div>
      </div>
      <div class="description-box">
        <h2>Instructions:</h2>
        <p class="testo-info" *ngIf="cocktail[selectedLang]; else noTranslation">
          {{ cocktail[selectedLang] }}
        </p>
        <ng-template #noTranslation>
          <p>No translation available</p>
        </ng-template>
        <div *ngIf="missMail()" class="share">
          <input [(ngModel)]="message" class="share-box" placeholder="Write here your message..." />
          <button (click)="shareCocktail()">Share Cocktail</button>
        </div>
      </div>
    </div>
    
    
  </div>
</div>

<link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
