<div class="favorites-container text-center text-light">
  <h2 class="mb-4">Your favorites</h2>
  
  <p>Number of favorites: {{ favorites.length }}</p>

  <div *ngIf="favorites.length === 0">
    <p>You dosn´t have favorites cocktails at the moment!</p>
  </div>

  <div *ngFor="let cocktail of favorites" class="mb-4">
    
    <img [src]="cocktail.strDrinkThumb" alt="{{ cocktail.strDrink }}" width="150" class="rounded">
    <h4>{{ cocktail.strDrink }}</h4>
    <button class="btn btn-danger btn-sm" (click)="removeFromFavorites(cocktail.idDrink)">
      Remove
    </button>
  </div>
</div>