body {
  padding-top: 50px;
    background-color: #000000 !important;
    color: #921eb6c4 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1, h2, h3, h4, h5, h6{
    color: #ffffff;
}
a {
    color: #0d6efd;
}
input, textarea, select{
    background-color: #9696961b !important;
    color: #ffffff !important;
    border: 1px solid #564a4a47 !important;
}

html {
  scroll-behavior: smooth;
}

#daily {
  scroll-margin-top: 200px;
}

#cocktailResearch {
  scroll-margin-top: -70px;
}

/*navbar*/
.home,
.sc {
  background-color: transparent;
  align-self: left !important;
  color: #ffffff !important;
  font-weight: bold;
  font-size: 17px;
  margin-left: 30px;
  margin-bottom: 10px;
  text-decoration: none;
}

.logging {
  display: flex;
  line-height: 30px;
  border-radius: 25px;
  text-align: left;
  flex-direction: column;
  padding: 50px;
  position: fixed;
  width: 40%;
  left: 60%;
  height: 350px;
  justify-content: center;
  background-color: #000000e7;
}


.botton-login-menu {
  z-index: 1001;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: auto;
  margin-top: 230px;
  position: fixed;
  left: 72%;
  background-color: transparent;
  justify-content: center;
}


.container-menu-bar {
  display: flex;
  border-radius: 25px;
  position: fixed;
  justify-self: right;
  flex-direction: column;
  top: 8px;
  height: 350px;
  padding: 50px;
  width: 40%;
  left: 60%;
  justify-content: center;
  background-color: #000000e7;
}


.login-menu{
  display: flex;
  z-index: 1000;
  position: fixed;
  top: 57px;
  right: 100px;
  margin: auto;
  background-color: #000000;
  justify-content: center;
  align-items: top;
  text-align: left !important;
  color: rgba(255, 255, 255, 0.699);
  text-align: center;
}

.custom-auth-btn {
  align-items: center;
  justify-content: center;
  color: #ffffff !important;
}



.custom-navbar{
  position: relative;
  background-color: #ae3f946e !important;
  height: 57px;
  
}

.title-text {
  background-color: #4102ffd6 !important;
  border-radius: 20px;
  padding: 10px;
  padding-block: 2%;
  align-self: left !important;
  color: #ffffff !important;
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
}

.login-link {
  color: rgb(255, 255, 255) !important;
  font-size: 20px;
  font-weight: bold;
  
  
}


/*SEARCH-COMPONENT*/

/* Contenitore per la barra di ricerca */
.search-container {
  position: relative;
  overflow: visible;
  font-size: 20px;
  height: 800px;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: 10px;
  background-color: #a40099; /* Sfondo scuro */
  padding: 20px;
  padding-top: 200px !important;
  color: white;
}

.search-container .search-bar {
  transition: opacity 0.7s ease;
}

.search-container .search-title {
  transition: opacity 0.5s ease;
}

/*.search-container:focus-within .search-bar {
  transform: translateY(-320px);
}*/
.search-container:focus-within .search-title {
  opacity: 0;
  pointer-events: none;
}
.search-container.has-results .search-title {
  visibility: hidden;
}

.search-container .search-bar {
  width: 700px;
  margin: 0 auto;
  transition: transform 0.5s ease, width 0.5s ease;
}

/*.search-container:not(.has-results):focus-within .search-bar {
  transform: translateY(+0px);
  width: 85%;
}*/

/*.search-container:not(.has-results):focus-within .search-bar input {
  width: 100%;
  padding: 15px;
  font-size: 1.3rem;
}*/

.search-controls {
  width: 700px;
  margin: 20px auto;
  transition: transform 0.5s ease, width 0.5s ease;
}

.search-container:focus-within:not(.has-results) .search-controls {
  transform: translateY(310px);
  height: 80px;
  width: 80%;
}


/*.search-container.has-results .search-controls {
  transform: none !important;
}*/

.search-container.has-results .search-controls {
  transform: translateY(300px) !important;
  width: 80%;
}

.search-container.has-results .carousel-container {
  position: absolute;
  top: 20px;      /* regola per allinearla dove c’era il titolo */
  left: 50%;
  transform: translateX(-50%);
  width: 90%;     /* adatta a piacere */
  margin: 0;
  padding: 0;
}

.result-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(3rem);
  width: 100%;
  z-index: 1;
  pointer-events: auto;
}

.search-title {
  background-color: transparent;
    color: #ffffff;
    font-family: 'Tilt Warp', cursive;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 5rem !important;
    margin-top: 30px;
  }

  .search-bar input {
    color: white;
    background-color: #222;
    border: 1px solid #444;
  }
  
  .search-bar input::placeholder {
    color: #522e4bdb; /* Colore del testo del placeholder */
    font-style: italic;
    opacity: 1; /* Per forzare il colore su alcuni browser */
  }

  
  .d-flex {
    justify-content: center;
  }
  
  .search-bar {
    background-color: transparent;
    justify-content: center;
    gap: 10px;
  }
  
  .search-bar input {
    width: 700px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .search-bar button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #d9cb00;
    color: white;
    font-weight: bold;
  }
  
  .search-bar button:hover {
    background-color: #0056b3;
  }
  
  /* Styling per il messaggio di errore */
  .error-message {
    margin-top: 20px;
    color: red;
    font-weight: bold;
  }
  

/* CARD DELLA RICERCA*/


.slider-wrapper {
  height: 500px;
  background-color: tr;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: auto;
  perspective: 1000px; /* FONDAMENTALE per 3D */
}

.carousel-control-prev,
.carousel-control-next {
  background-color: transparent !important;
  color: rgb(255, 255, 255) !important;
  border: none;
  font-size: 6rem;
  width: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}





  /* Risultati della ricerca */
  .results-container {
    margin-top: 30px;
  }
  
  .carousel-container,
  .carousel-container .carousel-inner,
  .carousel-container .carousel-item {
    perspective: 1000px;
    overflow: visible !important;
  }

  .carousel-container {
    background-color: transparent;
    max-width: 50%;  /* Limita la larghezza del carousel */
    max-height: 900px;
    height: 600px;
    margin: 0 auto;  /* Centra il carousel nella pagina */
    padding: 20px;
    border-radius: 10px;
  }
 
  .cocktail-card {
    width: 400px;
    height: 500px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    cursor: pointer;
  }
  
  .cocktail-card.flipped {
    transform: rotateY(180deg);
  }

  .cocktail-card:not(.flipped):hover {
    transform: scale(1.05);
  }

  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1rem;
    backface-visibility: hidden;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-front {
    background-color: #6542e3;
    color: white;
    z-index: 2;
  }
  
  /* Stili del retro */
  .card-back {
    background-color: #d74545;
    color: #111;
    transform: rotateY(180deg);
  }

  .cocktail-img {
    max-height: 400px;
    border-radius: 50px;
  }

  .btn-aggiungi {
    font-size: 20px;
    display: block;
    margin: 20px auto 0;
    background-color: transparent !important;
    color: #ffffff !important;
    border: none;
  }


  /*TESTO DIETRO LA CARD*/

  .cocktail-description,
  .cocktail-category,
  .cocktail-glass,
  .cocktail-alcoholic {
    text-align: left;
    color: #3300d9 !important;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
  }

/* TASTI DELLA CARD RICERCA */

  .carousel-controls {
    background-color: #ff0000;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
    color: #000000;
  }


  #cocktailCarousel .carousel-control-prev-icon,
  #cocktailCarousel .carousel-control-next-icon {
    width: 13rem !important;
    height: 13rem !important;
    background-size: 100%, 100% !important;
  }

  #cocktailCarousel .carousel-control-prev,
  #cocktailCarousel .carousel-control-next {
    align-items: center;
    background-color: transparent !important;
    padding: 10px;
  }
  
  .cocktail-img {
    width: 100%;
    height: auto;
    border-radius: 50px;
  }
  
  .carousel-item {
    justify-content: center; /* Allinea gli item al centro */
    align-items: center;
  }
  
  .nomeCocktailCss{
    color: #ffffff !important;
    font-family: 'Courier New', Courier, monospace;
  }
  .cocktail-card h3 {
    font-size: 1.5rem;
    color: #fff;
  }
  
  .cocktail-card p {
    color: #bbb;
  }



  .tail{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .back{
    background-color: #161616;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    color : white;
    min-width: 400px;
  }
  
  .tail2 {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;       /* o meno, come preferisci */
    padding: 10px;
    background-color: white; /* opzionale */
    border-radius: 10px;     /* opzionale */
    box-shadow: 0 0 10px rgba(0,0,0,0.2); /* opzionale */
    z-index: 1000;           /* assicura che sia sopra */
  }
  
  
  
  
  
  
  
  
  .container {
    display: flex;
    margin: 50px 10px;
  }
  
  .profile {
    flex: 1;
    margin-right: 50px;
    background-color: rgb(58, 58, 58);
    box-shadow: rgb(255, 255, 255);
    border-radius: 10px;
    height: max-content;
  }
  
  .profile-header {
    display: flex;
    margin-left: 15px;
  }
  
  .profile-text-container {
    line-height: 0.5;
  }
  
  .profile-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
  }
  
.profile-mail {
  font-family: 'Courier New', Courier, monospace;
  font-size: 22px;
  margin-right: 10px;
  justify-content: left;
    margin-top: 50px;
    color: #fdfdfd;
  }
  
  .menu {
    margin: 0 30px;
  }
  
  .menu-link {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    background-color: #333333;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .menu-link-cookies {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    background-color: #fb0404c7;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: background-color 0.2s ease 0.35s;
  }
  
  .terms-accepted {
    background-color: #3fb627;
  }
  
  .terms-rejected {
    background-color: #fb0404c7;
  }
  
  .menu-link-cookies:not(.terms-accepted):hover {
    background-color: #29b627;
    color: #ffffff;
  }
  
  .terms-accepted:hover {
    background-color: #fb0404c7;
    color: #ffffff;
  }
  
  .menu-icon {
    margin-right: 10px;
}

.menu-link:hover {
  background-color: #515151;
  color: #ffffff;
}

.menu-link-first-child:hover {
    background-color: #444;
    color: rgb(0, 0, 228);
  }
  
  .account {
    flex: 2;
    margin-left: 10px;
    background-color: rgb(58, 58, 58);
    box-shadow: rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    height: max-content;
  }
  
  .account-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .account-title {
    font-family: 'Courier New', Courier, monospace;
    font-size:30px;
    color: #ffffff;
  font-weight: 500;
  margin-left: 10px;
}

.btn-container {
  margin-right: 5px;
}

.btn-cancel {
  width: 8em;
  height: 3em;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 2em;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-right: 5px;
  background-color: beige;
  transition-duration: 0.3s;
  box-shadow: #000000;
}

.btn-cancel:hover {
  background-color: #ccc;
}

.btn-save {
  width: 8em;
  height: 3em;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 2em;
  color: rgb(255, 255, 255);
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  transition-duration: 0.3s;
  box-shadow: #000000;
}

.btn-save:hover {
  background-color: #0b4c77;
}

.account-edit {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.input-container label {
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
  font-size: 20px;
}











.carousel-wrapper {
  background-color: transparent;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}




.titolo-daily {
  background-color: transparent;
  font-family: 'Tilt Warp', cursive;
  font-size: 2.5rem;
  text-align: center;
  color: white;
}


.daily-carousel-container {
  position: relative;
  max-width: 1050px;
  margin: auto;
  margin-top: 30px;
  overflow:hidden;
  height: 540px;
  background-color: transparent;
}

.daily-carousel-track {
  display: flex;
  margin-top: 15px;
  display: flex;
  transition: transform 0.6s ease-in-out;
  background-color: transparent;
  height: 90%;
  will-change: transform;
  width: calc( (300px + 120px) * 7 ); /* 300 card + 2*60 margini * numero card */
}

.daily-card {
  flex: 0 0 300px;
  margin: 0 40px;
  margin-top: 25px;
  background: white;
  border-radius: 10px;
  margin-bottom: 120px;
  text-align: center;
  transition: transform 0.4s, filter 0.4s, opacity 0.4s;
}

.daily-card img {
  width: 100%;
  border-radius: 10px;
}

.daily-card.active {
  transform: scale(1.2);
  filter: none;
  opacity: 1;
  z-index: 2;
  border: 1px solid rgb(255, 0, 238);
}

.daily-card:not(.active) {
  transform: scale(0.75);
  filter: blur(2px);
  opacity: 0.5;
  z-index: 1;
}

.daily-controls {
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 225px;
  width: 600px;
  right: 0px;
  display: flex;
  justify-content: space-between;
  transform: translateY(-110%);
  padding: 0 2rem;
  pointer-events: none;
}

.daily-btn {
  background: transparent !important;
  border: none !important;
  pointer-events: auto;
  font-size: 3rem;
  padding: 0.5rem 1rem;
  background: transparent;
  border: 2px solid transparent;
  border-radius: 8px;
}


.daily-btn:disabled {
  opacity: 0.4;
  cursor: default;
}
.chat-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: linear-gradient(45deg, #ff4081, #ff80ab, #f50057, #ff9100);
  color: white;
  border: none;
  border-radius: 30px;  /* Rende il pulsante più ovale */
  width: 150px;  /* Aumenta la larghezza per adattarsi al testo */
  height: 60px;  /* Aggiusta l'altezza per l'ovalità */
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
  animation: glow 1.5s ease-in-out infinite, pulse-animation 2s infinite;
  z-index: 1000;
  transform: scale(1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.chat-button:hover {
  transform: scale(1.3) rotate(10deg);
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.6);
  background: linear-gradient(45deg, #ff80ab, #f50057, #ff4081, #ff9100);
}

.chat-button i {
  font-size: 20px;
  margin-right: 10px; /* Spazio tra l'icona e il testo */
}

.chat-button span {
  font-size: 18px;  /* Aggiusta la dimensione del testo */
  font-weight: bold;
  display: block;
  animation: fadeIn 1s ease-in-out;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px #ff4081, 0 0 20px #ff4081, 0 0 30px #ff4081, 0 0 40px #ff4081;
  }
  50% {
    box-shadow: 0 0 20px #ff80ab, 0 0 40px #ff80ab, 0 0 60px #ff80ab, 0 0 80px #ff80ab;
  }
  100% {
    box-shadow: 0 0 10px #ff4081, 0 0 20px #ff4081, 0 0 30px #ff4081, 0 0 40px #ff4081;
  }
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}