/* You can add global styles to this file, and also import other style files */
/* Questo è un commento, non verrà preso in considerazione dal browser */

/* Selettore per il body */
body {
    background-color: #f4f4f4;   /* Colore di sfondo */
    font-family: Arial, sans-serif; /* Font per il corpo del testo */
    margin: 0;   /* Rimuove il margine di default */
    padding: 0;  /* Rimuove il padding di default */
}

h1 {
    color: black; /* Colore del testo */
    text-align: center; /* Centra il testo */
    font-size: 2rem; /* Imposta la dimensione del font */
}

/* Selettore per i paragrafi */
p {
    font-size: 1rem;
    line-height: 1.6; /* Aumenta l'interlinea */
    color: #555; /* Colore del testo */
}

/* Selettore per un elemento con la classe "button" */
.button {
    background-color: #9700ee; 
    color: white; 
    padding: 10px 20px; 
    border-radius: 5px; 
    text-align: center;
    display: inline-block;
    text-decoration: none; 
}

/* Selettore per un elemento con la classe "button" quando passa sopra */
.button:hover {
    background-color: #7100b3; /* Cambia il colore di sfondo al passaggio del mouse */
}
