.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
  }
  
  .user-table th, .user-table td {
    border: 1px solid #ccc;
    padding: 0.75rem;
    text-align: left;
  }
  
  .status-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red; /* Colore di default */
    margin-right: 5px;
  }
  
  .status-dot.active {
    background-color: green; /* Quando attivo */
  }
  
  
  .delete-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .delete-btn:hover {
    background-color: #c0392b;
  }
  